@charset "utf-8";

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(../images/어두운배경.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 24px;
    color: #fff;
    font-family: sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav button:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

nav a {
    width: 34px;
    height: 24px;
    padding: 10px;
}

nav image {
    width: 30px;
    height: 30px;
}

nav button {
    padding: 5px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    margin: 30px;
    font-family: sans-serif;
    color: #fff;
}

.search-container {
    width: 800px;
    height: 56px;
    padding: 0 16px;
    gap: 12px;
    border-radius: 28px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.search-container .search {
    width: 40px;
    height: 40px;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
    
}

.search-container .action {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.search-container .voice {
    width: 40px;
    height: 40px;
    background-image: url(../images/icons/mic.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
}

.search-container .images {
    width: 40px;
    height: 40px;
    background-image: url(../images/icons/camera.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center center;
}

.site-container {
    width: 112px;
    height: 112px;
    border-radius: 4px;
}

.latest-site-list li {
    display: inline-block;
    width: 112px;
    position: relative;
}

.latest-site-list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 112px;
    gap: 0.8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 1rem;
    font-size: 13px;
    text-shadow: 0 0 1px 1px grba(0, 0, 0, 0.5);
}

.latest-site-list .favicon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 



