@charset "utf-8";

body {
    color: #fff;
    font-family: sans-serif;
}

div .video-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.page-header .logo {
    flex: 1;
    text-align: left;
}

.page-header .category ul {
   display: flex;
   gap: 10px;
   list-style: none;
}

.page-header .category li {
    display: inline-block;
}

.dark-mode {
   flex: 1;

}

.slogan-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;

}